{
  "koopProviderRedshiftAnalytics": {
    "dimensions": ["day", "a_hostname", "a_org"],
    "timeDimensions": ["day"],
    "sessionDimensions": ["day"],
    "metrics": ["pageViews", "sessions", "avgSessionDuration"],
    "defaultTimeRangeStart": {
      "interval": "day",
      "count": "30"
    },
    "eventLookup": {
      "pageViews": "pageView"
    }
  }
}
